@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Custom colors */
  --color-primary: #00d991;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem;
}

.dark {
  @apply bg-[#171923] text-white;
}
